$colorPrimary: rgba(255, 255, 255, 1);
$colorSecondary: rgba(255, 67, 67, 1);
$colorTertiary: rgba(108, 114, 121, 1);
$colorFeaturesTitle: rgba(45, 48, 51, 1);
$colorDownload: rgba(0, 0, 0, 1);
$colorTeamText: rgba(45, 48, 51, 1);
$colorButtonHover: rgba(231, 20, 20, 1);
$colorButtonActive: rgba(255, 67, 67, 1);
$colorButtonShadow: rgb(255, 67, 67);
$colorBorderIcon: rgba(198, 203, 205, 1);
$colorLine: rgba(186, 187, 197, 1);
$colorHeaderActive: rgba(231, 20, 20, 1);
$colorBanner: rgba(37, 43, 73, 1);
$colorProjectsHover: rgba(255, 67, 67, 0.8);
$colorFooterLight: rgba(53, 60, 101, 1);
$colorFooterDark: rgba(44, 49, 84, 1);
$colorFooterText: rgba(128, 128, 128, 1);
$backgroundcolorTestimonials: rgba(92, 50, 73, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 15px;

    &__container {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (max-width: 767px) {
            padding: 19px 0;
        }
        &::after {
            content: "";
            display: block;
            width: 1170px;
            border-bottom: 1px solid $colorLine;
            position: absolute;
            left: 0;
            top: 100%;

            @media (max-width: 1024px) {
                width: 984px;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    &__logo {
        display: inline-block;
    }
    &__img {
        pointer-events: none;
    }
    &__nav {
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        min-width: 134px;
        width: 100%;
        text-align: center;
    }
    &__link {
        cursor: pointer;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: $colorPrimary;
        text-decoration: none;
        display: block;
        padding: 36px 0 36px;
        border-bottom: 3px solid transparent;
        transition: all 0.3s linear;
        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 14px;
        }
        &:hover {
            border-bottom: 3px solid $colorLine;
        }
        &:active {
            color: $colorHeaderActive;
            border-bottom: 3px solid $colorHeaderActive;
        }
    }
    &__nav-mobile {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }
}
.banner {
    padding: 230px 0 120px;
    margin-bottom: 116px;
    background-image: url(../media/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @media (max-width: 1024px) {
        padding: 257px 0 126px;
        margin-bottom: 78px;
    }
    @media (max-width: 767px) {
        padding: 106px 0 52px;
        margin-bottom: 92px;
    }
    &::after {
        content: "";
        display: block;
        background-color: $colorBanner;
        opacity: 0.8;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__container {
        position: relative;
        z-index: 1;
        text-align: center;
    }
    &__title {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-transform: uppercase;
        color: $colorPrimary;
        margin-bottom: 31px;
        @media (max-width: 1024px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 62px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 33px;
        }
    }
    &__text{
        color: $colorPrimary;
        margin-bottom: 80px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 89px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }
    }
    &__btn {
        background-color: $colorSecondary;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        border: none;
        padding: 26px 0;
        max-width: 370px;
        width: 100%;
        color: $colorPrimary;
        cursor: pointer;
        transition: all 0.3s linear;
        @media (max-width: 1024px) {
            max-width: 314px;
        }
        @media (max-width: 767px) {
            max-width: 280px;
            padding: 16px 0;
        }
        &:hover {
            background-color: $colorButtonHover;
        }
        &:active {
            cursor: pointer;
            background-color: $colorButtonActive;
            box-shadow: 4px 4px 30px $colorButtonShadow;
        }
    }
}
.features {
    margin-bottom: 116px;
    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }
    @media (max-width: 767px) {
        margin-bottom: 35px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 88px;
        text-align: center;
        @media (max-width: 1024px) {
            column-gap: 20px;
            row-gap: 50px;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            row-gap: 42px;
        }
    }
    &__wrap {
        width: 100px;
        height: 100px;
        margin: 0 auto 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1024px) {
            margin: 0 auto 44px;
            width: 85px;
            height: 85px;
        }
        @media (max-width: 767px) {
            margin: 0 auto 22px;
            width: 75px;
            height: 75px;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $colorFeaturesTitle;
        margin-bottom: 42px;
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 24px;
        }
        @media (max-width: 767px) {
            margin-bottom: 16px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $colorTertiary;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.projects {
    margin-bottom: 114px;
    @media (max-width: 1024px) {
        margin-bottom: 78px;
    }
    @media (max-width: 767px) {
        margin-bottom: 35px;
    }
    &__block{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__wrap {
        cursor: pointer;
        text-align: center;
        position: relative;
        border: 1px solid $colorPrimary;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    &__hover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: transparent;
        z-index: 3;
        transition: all 0.3s linear;
        &:hover {
            background-color: $colorProjectsHover;
            color: $colorPrimary;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 37px;
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 23px;
        }
        @media (max-width: 767px) {
            margin-bottom: 7px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 21px;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.team {
    margin-bottom: 114px;
    @media (max-width: 1024px) {
        margin-bottom: 78px;
    }
    @media (max-width: 767px) {
        margin-bottom: 41px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        @media (max-width: 767px) {
            flex-direction: column;
            row-gap: 56px;
        }
    }
    &__info {
        width: calc((100% - 60px) / 4);
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__wrap {
        margin-bottom: 30px;
        position: relative;
        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__name {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: $colorTeamText;
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 7px;
        }
    }
    &__profession {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 18px;
        color: $colorSecondary;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 22px;
        }
        @media (max-width: 767px) {
            margin-bottom: 38px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $colorTertiary;
        margin: auto 0 38px;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin: auto 0 39px;
        }
        @media (max-width: 767px) {
            margin: auto 0 55px;
        }
    }
    &__social {
        display: flex;
        gap: 5px;
        margin: auto 0 0;
        @media (max-width: 767px) {
            gap: 6px;
        }
    }
    &__link {
        cursor: pointer;
        border: 1px solid $colorBorderIcon;
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s linear;
        @media (max-width: 1024px) {
            width: 33px;
            height: 33px;
        }
        &:hover{
            border: 1px solid $colorButtonHover;
            path {
                fill: $colorButtonHover;
            }
        }
    }
    &__icon {
        pointer-events: none;
        &:hover path{
            fill: $colorButtonHover;
        }
    }
}
.testimonials {
    margin-bottom: 114px;
        @media (max-width: 1024px) {
            margin-bottom: 78px;
    }
        @media (max-width: 767px) {
            margin-bottom: 86px;
    }
    &__swiper {
        padding-bottom: 40px;
    }
    &__block {
        background-color: $backgroundcolorTestimonials;
        width: 100%;
        max-height: 490px;
        margin: 0 auto;
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__wrap {
        width: 45%;
        position: relative;
        &::before {
            content: "";
            display: block;
        }
        @media (max-width: 767px) {
            width: 100%;
        }   
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    &__info {
        width: 55%;
        padding: 133px 30px 125px 127px;
        @media (max-width: 1024px) {
            padding: 61px 30px 112px 88px;
        }
        @media (max-width: 767px) {
            width: 100%;
            padding: 23px 25px 95px 20px;
            text-align: center;
        }
    }
    &__title {
        max-width: 471px;
        width: 100%;
        color: $colorPrimary;
        font-family: 'Cardo';
        font-style: italic;
        font-weight: 400;
        font-size: 33px;
        line-height: 49px;
        text-transform: capitalize;
        margin-bottom: 25px;
        @media (max-width: 1024px) {
            max-width: 330px;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            margin-bottom: 23px;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: $colorPrimary;
        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
.swiper-pagination-bullet {
    background-color: $colorPrimary;
    border: 1px solid rgba(126, 93, 111, 1);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: rgba(126, 93, 111, 1);
}
.download {
    margin-bottom: 114px;
    text-align: center;
    @media (max-width: 1024px) {
        margin-bottom: 78px;
    }
    @media (max-width: 767px) {
        margin-bottom: 45px;
    }
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $colorDownload;
        margin-bottom: 22px;
        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 21px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 22px;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 48px;
        color: $colorDownload;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 43px;
        }
        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }
    }
    &__btn {
        max-width: 370px;
        width: 100%;
        color: $colorPrimary;
        background-color: $colorSecondary;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        border: none;
        padding: 26px 0;
        transition: all 0.3s linear;
        @media (max-width: 1024px) {
            max-width: 314px;
            font-size: 18px;
            line-height: 21px;
            padding: 29px 0;
        }
        @media (max-width: 767px) {
            max-width: 279px;
        }
        &:hover {
            cursor: pointer;
            background-color: $colorButtonHover;
        }
        &:active {
            cursor: pointer;
            background-color: $colorButtonActive;
            box-shadow: 4px 4px 30px $colorButtonShadow;
        }
    }
}
.footer {
    &__light {
        background-color: $colorFooterLight;
        padding: 71px 0;
        @media (max-width: 1024px) {
            padding: 45px 0;
        }
        @media (max-width: 767px) {
            padding: 34px 0;
        }
    }
    &__dark{
        background-color: $colorFooterDark;
        padding: 24px 0;
        margin: 0 auto;
        @media (max-width: 1024px) {
            padding: 14px 0;
        }
        @media (max-width: 767px) {
            padding: 29px 0;
        }
    }
    &__container-light {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        @media (max-width: 1024px) {
            column-gap: 20px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            row-gap: 64px;
        }
    }
    &__block {
        width: calc((100% - 60px) / 3);
        text-align: center;
        @media (max-width: 1024px) {
            width: calc((100% - 40px) / 3);
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $colorPrimary;
        margin-bottom: 29px;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 18px;
        }
        @media (max-width: 767px) {
            margin-bottom: 34px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $colorPrimary;
        text-align: center;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__social-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
        @media (max-width: 1024px) {
            gap: 23px;
        }
        @media (max-width: 767px) {
            gap: 16px;
        }
    }
    &__link {
        border: 1px solid $colorBorderIcon;
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s linear;
        @media (max-width: 1024px) {
            width: 33px;
            height: 33px;
        }
        &:hover{
            border: 1px solid $colorButtonHover;
            path {
                fill: $colorButtonHover;
            }
        }
    }
    &__icon {
        pointer-events: none;
    }
    &__text-dark {
        max-width: 370px;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $colorPrimary;
        text-align: center;
        margin: 0 auto;
        @media (max-width: 1024px) {
            max-width: 314px;
            font-size: 14px;
            line-height: 16px;
        }
        @media (max-width: 767px) {
            max-width: 280px;
        }
    }
    &__txt {
        color: $colorFooterText;
    }
}