* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Raleway', sans-serif;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 15px;
}

.header__container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__container::after {
  content: "";
  display: block;
  width: 1170px;
  border-bottom: 1px solid #babbc5;
  position: absolute;
  left: 0;
  top: 100%;
}

@media (max-width: 1024px) {
  .header__container::after {
    width: 984px;
  }
}

@media (max-width: 767px) {
  .header__container::after {
    display: none;
  }
}

.header__logo {
  display: inline-block;
}

.header__img {
  pointer-events: none;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__item {
  min-width: 134px;
  width: 100%;
  text-align: center;
}

.header__link {
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  display: block;
  padding: 36px 0 36px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .header__link {
    font-size: 12px;
    line-height: 14px;
  }
}

.header__link:hover {
  border-bottom: 3px solid #babbc5;
}

.header__link:active {
  color: #e71414;
  border-bottom: 3px solid #e71414;
}

.banner {
  padding: 230px 0 120px;
  margin-bottom: 116px;
  background-image: url(../media/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
    margin-bottom: 92px;
  }
}

.banner::after {
  content: "";
  display: block;
  background-color: #252b49;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.banner__container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.banner__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 33px;
  }
}

.banner__text {
  color: white;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 89px;
  }
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
}

.banner__btn {
  background-color: #ff4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  padding: 26px 0;
  max-width: 370px;
  width: 100%;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .banner__btn {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .banner__btn {
    max-width: 280px;
    padding: 16px 0;
  }
}

.banner__btn:hover {
  background-color: #e71414;
}

.banner__btn:active {
  cursor: pointer;
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}

.features {
  margin-bottom: 116px;
}

@media (max-width: 1024px) {
  .features {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .features {
    margin-bottom: 35px;
  }
}

.features__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 88px;
  text-align: center;
}

@media (max-width: 1024px) {
  .features__container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 50px;
  }
}

@media (max-width: 767px) {
  .features__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 42px;
  }
}

.features__wrap {
  width: 100px;
  height: 100px;
  margin: 0 auto 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .features__wrap {
    margin: 0 auto 44px;
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 767px) {
  .features__wrap {
    margin: 0 auto 22px;
    width: 75px;
    height: 75px;
  }
}

.features__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 42px;
}

@media (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .features__title {
    margin-bottom: 16px;
  }
}

.features__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6c7279;
}

@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.projects {
  margin-bottom: 114px;
}

@media (max-width: 1024px) {
  .projects {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .projects {
    margin-bottom: 35px;
  }
}

.projects__block {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .projects__block {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.projects__wrap {
  cursor: pointer;
  text-align: center;
  position: relative;
  border: 1px solid white;
}

.projects__wrap::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.projects__wrap::after {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.projects__wrap:hover::after {
  background-color: rgba(255, 67, 67, 0.8);
}

.projects__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.projects__title {
  position: relative;
  z-index: 3;
  left: 0;
  top: -170px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: transparent;
  margin-bottom: 21px;
}

.projects__title:hover {
  color: white;
}

.projects__text {
  position: relative;
  z-index: 3;
  left: 0;
  top: -128px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: transparent;
}

.projects__text:hover {
  color: white;
}

.team {
  margin-bottom: 114px;
}

@media (max-width: 1024px) {
  .team {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .team {
    margin-bottom: 41px;
  }
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 767px) {
  .team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 56px;
  }
}

.team__info {
  width: calc((100% - 60px) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .team__info {
    width: 100%;
  }
}

.team__wrap {
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 1024px) {
  .team__wrap {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .team__wrap {
    margin-bottom: 25px;
  }
}

.team__wrap::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.team__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2d3033;
}

@media (max-width: 1024px) {
  .team__name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
}

.team__profession {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #ff4343;
}

@media (max-width: 1024px) {
  .team__profession {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .team__profession {
    margin-bottom: 38px;
  }
}

.team__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6c7279;
  margin: auto 0 38px;
}

@media (max-width: 1024px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
    margin: auto 0 39px;
  }
}

@media (max-width: 767px) {
  .team__text {
    margin: auto 0 55px;
  }
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin: auto 0 0;
}

@media (max-width: 767px) {
  .team__social {
    gap: 6px;
  }
}

.team__link {
  cursor: pointer;
  border: 1px solid #c6cbcd;
  width: 39px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .team__link {
    width: 33px;
    height: 33px;
  }
}

.team__link:hover {
  border: 1px solid #e71414;
}

.team__link:hover path {
  fill: #e71414;
}

.team__icon {
  pointer-events: none;
}

.team__icon:hover path {
  fill: #e71414;
}

.testimonials {
  margin-bottom: 114px;
  background-color: #5c3249;
}

@media (max-width: 1024px) {
  .testimonials {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .testimonials {
    margin-bottom: 86px;
  }
}

.testimonials__block {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .testimonials__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials__wrap {
  width: 45%;
}

@media (max-width: 767px) {
  .testimonials__wrap {
    width: 100%;
  }
}

.testimonials__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.testimonials__info {
  width: 55%;
  padding: 133px 30px 125px 127px;
}

@media (max-width: 1024px) {
  .testimonials__info {
    padding: 61px 30px 112px 88px;
  }
}

@media (max-width: 767px) {
  .testimonials__info {
    width: 100%;
    padding: 23px 25px 95px 20px;
    text-align: center;
  }
}

.testimonials__title {
  max-width: 471px;
  width: 100%;
  color: white;
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  font-size: 33px;
  line-height: 49px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .testimonials__title {
    max-width: 330px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .testimonials__title {
    width: 100%;
    margin-bottom: 23px;
  }
}

.testimonials__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 1024px) {
  .testimonials__text {
    font-size: 12px;
    line-height: 14px;
  }
}

.download {
  margin-bottom: 114px;
  text-align: center;
}

@media (max-width: 1024px) {
  .download {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .download {
    margin-bottom: 45px;
  }
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: black;
  margin-bottom: 22px;
}

@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 22px;
  }
}

.download__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 48px;
  color: black;
}

@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
}

.download__btn {
  max-width: 370px;
  width: 100%;
  color: white;
  background-color: #ff4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  padding: 26px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .download__btn {
    max-width: 314px;
    font-size: 18px;
    line-height: 21px;
    padding: 29px 0;
  }
}

@media (max-width: 767px) {
  .download__btn {
    max-width: 279px;
  }
}

.download__btn:hover {
  cursor: pointer;
  background-color: #e71414;
}

.download__btn:active {
  cursor: pointer;
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}

.footer__light {
  background-color: #353c65;
  padding: 71px 0;
}

@media (max-width: 1024px) {
  .footer__light {
    padding: 45px 0;
  }
}

@media (max-width: 767px) {
  .footer__light {
    padding: 34px 0;
  }
}

.footer__dark {
  background-color: #2c3154;
  padding: 24px 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer__dark {
    padding: 14px 0;
  }
}

@media (max-width: 767px) {
  .footer__dark {
    padding: 29px 0;
  }
}

.footer__container-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .footer__container-light {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .footer__container-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 64px;
  }
}

.footer__block {
  width: calc((100% - 60px) / 3);
  text-align: center;
}

@media (max-width: 1024px) {
  .footer__block {
    width: calc((100% - 40px) / 3);
  }
}

@media (max-width: 767px) {
  .footer__block {
    width: 100%;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 34px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}

@media (max-width: 1024px) {
  .footer__social-block {
    gap: 23px;
  }
}

@media (max-width: 767px) {
  .footer__social-block {
    gap: 16px;
  }
}

.footer__link {
  border: 1px solid #c6cbcd;
  width: 39px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media (max-width: 1024px) {
  .footer__link {
    width: 33px;
    height: 33px;
  }
}

.footer__link:hover {
  border: 1px solid #e71414;
}

.footer__link:hover path {
  fill: #e71414;
}

.footer__icon {
  pointer-events: none;
}

.footer__text-dark {
  max-width: 370px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer__text-dark {
    max-width: 314px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .footer__text-dark {
    max-width: 280px;
  }
}

.footer__txt {
  color: gray;
}
/*# sourceMappingURL=style.css.map */