$colorPrimary: rgba(255, 255, 255, 1);
$colorSecondary: rgba(255, 67, 67, 1);
$colorTertiary: rgba(108, 114, 121, 1);
$colorFeaturesTitle: rgba(45, 48, 51, 1);
$colorDownload: rgba(0, 0, 0, 1);
$colorTeamText: rgba(45, 48, 51, 1);
$colorButtonHover: rgba(231, 20, 20, 1);
$colorButtonActive: rgba(255, 67, 67, 1);
$colorButtonShadow: rgb(255, 67, 67);
$colorBorderIcon: rgba(198, 203, 205, 1);
$colorLine: rgba(186, 187, 197, 1);
$colorHeaderActive: rgba(231, 20, 20, 1);
$colorBanner: rgba(37, 43, 73, 1);
$colorProjectsHover: rgba(255, 67, 67, 0.8);
$colorFooterLight: rgba(53, 60, 101, 1);
$colorFooterDark: rgba(44, 49, 84, 1);
$colorFooterText: rgba(128, 128, 128, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 15px;

    &__container {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 1170px;
            border-bottom: 1px solid $colorLine;
            position: absolute;
            left: 0;
            top: 100%;
        }
    }
    &__logo {
        display: inline-block;
    }
    &__img {
        pointer-events: none;
    }
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        min-width: 134px;
        width: 100%;
        text-align: center;
    }
    &__link {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: $colorPrimary;
        text-decoration: none;
        display: block;
        padding: 36px 0 36px;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom: 3px solid $colorLine;
        }
        &:active {
            color: $colorHeaderActive;
            border-bottom: 3px solid $colorHeaderActive;
        }
    }
}
.banner {
    padding: 230px 0 120px;
    margin-bottom: 116px;
    background-image: url(../media/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after {
        content: "";
        display: block;
        background-color: $colorBanner;
        opacity: 0.8;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__container {
        position: relative;
        z-index: 1;
        text-align: center;
    }
    &__title {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-transform: uppercase;
        color: $colorPrimary;
        margin-bottom: 31px;
    }
    &__text{
        color: $colorPrimary;
        margin-bottom: 80px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    &__btn {
        background-color: $colorSecondary;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        border: none;
        padding: 26px 0;
        max-width: 370px;
        width: 100%;
        color: $colorPrimary;
        &:hover {
            cursor: pointer;
            background-color: $colorButtonHover;
        }
        &:active {
            cursor: pointer;
            background-color: $colorButtonActive;
            box-shadow: 4px 4px 30px $colorButtonShadow;
        }
    }
}
.features {
    margin-bottom: 116px;
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 88px;
        text-align: center;
    }
    &__img {
        margin-bottom: 29px;
    }
    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $colorFeaturesTitle;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $colorTertiary;
    }
}
.projects {
    margin-bottom: 114px;
    &__block{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__wrap {
        position: relative;
        border: 1px solid $colorPrimary;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        &:hover{
        background-color: rgba(255, 67, 67, 0.8);
    }
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.team {
    margin-bottom: 114px;

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
    }
    &__info {
        width: calc((100% - 60px) / 4);
        display: flex;
        flex-direction: column;
    }
    &__wrap {
        margin-bottom: 30px;
        position: relative;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__name {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: $colorTeamText;
    }
    &__profession {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 18px;
        color: $colorSecondary;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $colorTertiary;
        margin: auto 0 38px;
    }
    &__social {
        display: flex;
        gap: 5px;
        margin: auto 0 0;
    }
    &__link {
        cursor: pointer;
        border: 1px solid $colorBorderIcon;
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__icon {
        pointer-events: none;
    }
}
.testimonials {
    margin-bottom: 114px;
    background-color: rgba(92, 50, 73, 1);
    &__block {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    &__wrap {
        max-width: 741px;
        width: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    &__info {
        padding: 133px 30px 125px 127px;
    }
    &__title {
        max-width: 471px;
        width: 100%;
        font-family: 'Cardo';
        font-style: italic;
        font-weight: 400;
        font-size: 33px;
        line-height: 49px;
        text-transform: capitalize;
        margin-bottom: 25px;
    }
    &__text {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
    }
}
.download {
    margin-bottom: 114px;
    text-align: center;
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $colorDownload;
        margin-bottom: 22px;
    }
    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 48px;
        color: $colorDownload;
    }
    &__btn {
        max-width: 370px;
        width: 100%;
        color: $colorPrimary;
        background-color: $colorSecondary;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        border: none;
        padding: 26px 0;
        &:hover {
            cursor: pointer;
            background-color: $colorButtonHover;
        }
        &:active {
            cursor: pointer;
            background-color: $colorButtonActive;
            box-shadow: 4px 4px 30px $colorButtonShadow;
        }
    }
}
.footer {
    &__light {
        background-color: $colorFooterLight;
        padding: 71px 0;
    }
    &__dark{
        background-color: $colorFooterDark;
        padding: 24px 0;
        margin: 0 auto;
    }
    &__container-light {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
    &__block {
        width: calc((100% - 60px) / 3);
        text-align: center;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $colorPrimary;
        margin-bottom: 29px;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $colorPrimary;
        text-align: center;
    }
    &__social-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
    }
    &__link {
        border: 1px solid $colorBorderIcon;
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__icon {
        pointer-events: none;
    }
    &__txt {
        color: $colorFooterText;
    }
}